{% extends "base.html" %}

{% block title %} Pets Homepage {% endblock %}

{% block content %}

<main class="container-fluid">
    <h1>Pets</h1>

    {% for msg in get_flashed_messages() %}
        <p class="alert alert-primary">{{ msg }}</p>
    {% endfor %}

    <div class="btn-group" role="group" aria-label="buttons">
        <a href="/add" class="btn btn-primary">Add a new pet</a>
    </div>

    <div class="pets-list">
        <ul>
            {% for pet in pets %}
                <div class="card" style="width: 18rem;">
                    {% if pet.photo_url %}
                    <img src="{{ pet.photo_url }}" 
                        class="card-img-top" 
                        alt="image of {{ pet.name }}">
                    {% endif %}
                        
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/{{ pet.id }}">{{ pet.name }}</a>
                        </h5>

                        <p class="card-text">
                            {% if pet.available %}
                                <b>Available</b>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Random Pet</h2>
        <div class="card" style="width: 18rem;">
            <img src="{{ random_pet.photos.medium }}" class="card-img-top" alt="image of {{ random_pet.name }}">
        
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ random_pet.url }}">{{ random_pet.name }}</a>
                </h5>
            </div>
        </div>
    </div>
</main>

{% endblock %}