{% extends "base.html" %}

{% block title %}
Pets Home
{% endblock %}

{% block content %}

<h1>Pets</h1>

{% for msg in get_flashed_messages() %}
    <p class="alert alert-primary">{{ msg }}</p>
{% endfor %}

<ul>
    <li><a href="/add" class="btn btn-primary">Add a pet!</a></li>
</ul>

<div class="pets-list">
    <ul>
        {% for pet in pets %}
        <div class="card" style="width: 18rem;">
            <img src="{{ pet.photo_url }}" class="card-img-top" alt="image of {{ pet.name }}">
            <div class="card-body">
                <h5 class="card-title"><a href="/{{ pet.id }}">{{ pet.name }}</a></h5>
                <p class="card-text">
                    {% if pet.available %}
                    <b>available</b>
                    {% endif %}
                    </p>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}